.DataGridCell {
  position: relative;
  
  > div {
    padding-right: 5px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &.cover {
    min-width: 30px;
  }

  &.title {
    min-width: 55px;
  }
  
  &.artist {
    min-width: 55px;
  }
  
  &.album {
    min-width: 50px;
  }
  
  &.duration {
    min-width: 60px;
  }
}