.DataGridHeader {
  height: 32px;
  white-space: nowrap;
  
  > * {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    cursor: pointer;    

    &:last-of-type {
      .DataGridCellResizer {
        display: none;
      }
    }
  }
}