@import 'variables';

.App {
  text-align: center;
}

.App-header {
  background-color: $primary;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.DataGrid {
  margin: 20px;
}

.ErrorMessage {
  color: $error;
}
